<div class="grid-container">
  <div class="grid grid--py-3">
    <div class="cell cell--2"><div><h3><img src="https://cravatar.eu/helmhead/{{ page.ops-uuid }}" alt="{{ page.ops-username }}" width="108"></h3></div></div>
    <div class="cell cell--6"><div><p>{{ page.ops-username }} is <span class="{{ page.server }}"> {{ page.server }}</span>'s <a href="{{ site.baseurl}}/hc/titles-and-honors#operations-director">Operations Director</a> and has been assigned to manage the server's feedback and development.</p></div></div>
  </div>
</div>
