<p>Here are the options given to our members if they need to file a report:</p>
  <ul>
    <li><strong><span class="special-highlight">Recommended: Online form report.</span></strong> Use the <a href="{{ site.baseurl }}/report">online form</a> to file a player report online.</li>
    <li>Join the <a href="{{ site.baseurl }}/discord">Discord</a> server and send a message to a staff member. If no staff member is online, try using the <code>#help</code> channel and a staff member will handle it later.</li>
    <li>Inform an online staff member on the server.</li>
  </ul>
