/* misc */
.special-highlight {
  color: $main-color-1;
}

.launcher-image {
  max-width: 85%;
}

.definition {
  font-family: serif;
}

.em-stat {
  font-weight: 700;
  font-size: 2.5rem;
  color: #121212;
  margin: 1rem 0;
  position: relative;
  margin-top: 1.5rem;
  padding: 1rem;
}

.wegmans-img {
  max-width: 90%; 
  padding: 1rem;