/* help center rules and regulations */
.severity-1 {
  color: #239B56;
  font-weight: 700;
}

.severity-2 {
  color: #F1C40F;
  font-weight: 700;
}

.severity-3 {
  color: #E67E22;
  font-weight: 700;
}

.severity-4 {
  color: #C0392B;
  font-weight: 700;
}

/* server hex colors */
.creative {
  color: #00a8a8;
  font-weight: 700;
}

.survival {
  color: #cb4335;
  font-weight: 700;
}

.skyblock {
  color: #229954;
  font-weight: 700;
}

/* rank colors */
.tag-bracket {
  color: #515a5a;
}

.exec-primary {
  color: #cb4335
}

.exec-secondary {
  color: #e74c3c
}

.dev-primary {
  color: #652d90;
}

.dev-secondary {
  color: #af7ac5;
}

.admin-primary {
  color: #f7941d;
}

.admin-secondary {
  color: #f4d03f;
}

.mod-primary {
  color: #1e8449;
}

.mod-secondary {
  color: #3AB54A;
}

.builder-primary {
  color: #21618C;
}

.builder-secondary {
  color: #3498db;
}

.member-primary {
  color: #AD1457;
}

.member-secondary {
  color: #E91E63;
}

.voter-primary {
  color: #05aeaa;
}

.voter-secondary {
  color: #42cfcc;
}

/* misc */
.special-highlight {
  color: $main-color-1;
}

.launcher-image {
  max-width: 85%;
}
